<main class="app-container">
    <h2>Bem-vindo ao Prospect Manager,<br> Gerente Comercial!</h2>
    <article>
        Este é um Sistema para Gerenciamento de Prospects e Análise de possíveis clientes.<br>
        A aba <a routerLink="/prospects">Prospects</a> permite cadastrar, atualizar, visualizar e deletar Prospects.<br>
        Além disso, também lista todos que estão cadastrados em nosso sistema.<br>
        A aba <a routerLink="/queue">Queue</a> permite verificar a fila de análise de Prospects. 
    </article>
    <h5>Acesse nossas abas:</h5>
    <ul>
        <li><a routerLink="/prospects">Prospects</a></li>
        <li><a routerLink="/queue">Queue</a></li>
    </ul>
</main>