section {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
            font-size: 16px;
            font-weight: 500;
        }
    }
}